<h1>About</h1>
<div class="ui container">
  <h1>Describe DataSets</h1>
  <div class="ui message">
    <div class="header">
      New Site Features
    </div>
    <ul class="list">
      <li> The gole for the site is to have a list all the auto makers, modle and year linked to the owner</li>
      <li> i grabbed the data for the cars from a json file that i found on github. and made up owners from the faker gem</li>
      <li> i got the data from a json file developb by this github project https://github.com/arthurkao/vehicle-make-model-data.git.</li>
    </ul>
  </div>
  <%= image_tag "erd.JPG", class: 'ui fluid centered huge bordered rounded image' %>
</div>